# Dependencies
node_modules/

# Build output
dist/

# Local env
.env
.env.local
.env.*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*

# TypeScript cache
*.tsbuildinfo



.nx/cache
.nx/workspace-data
vite.config.*.timestamp*